/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}
.cdk-overlay-connected-position-bounding-box {
    display: flex;
    justify-content: center;
}