.users {
  display: flex;
  flex-wrap: wrap;
  border: solid 3px #FC5185;
  padding: 20px;
  &__title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  &__container {
    display: flex;
    padding: 0 15px;
    flex: 0 1 33.3333%;
  }
}