.countdown {
  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
  }
  &__value {
    font-size: 36px;
    line-height: 0px;
  }
  &__button {
    padding: 0 25px;
    height: 25px;
    margin: 0px 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #8ac524;
    color: black;
  }
}