h2 {
    padding: 0;
    margin-bottom: 10px;
}

.form {
    border: 1px solid purple;
    padding: 20px;
    display: block;
    margin: 0 auto;
    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    &__submit-btn {
        margin-top: 20px;
    }
}