<header class="header">
    <nav class="header__nav">
        <ul class="header__list-container">
            <li class="header__menu-item">
                <a routerLink="/">home</a>
            </li>
            <li class="header__menu-item">
                <a routerLink="/changeDetection">change-Detection</a>
            </li>
            <li class="header__menu-item">
                <a routerLink="/changeDetection/no-pipe">change-Detection no pipe</a>
            </li>
        </ul>
    </nav>
</header>