<input class="input is-medium" placeholder="type ingredient name(f.e. pizza)" [formControl]="control" [appAutocomplete]="autocomplete">

<app-autocomplete #autocomplete="appAutocompleteComponent">
  <ng-template appAutocompleteContent>
    <ng-container *ngIf="autocompleteData.length > 0">
      <app-option *ngFor="let option of autocompleteData" [value]="option.id" (chooseOption)="handleOptionClick($event)">
        <span>{{option.title}}</span>
      </app-option>
    </ng-container>
  </ng-template>
</app-autocomplete>